<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://mivio.app/smarttv"
        version="0.1.0"
        viewmodes="maximized">
  <tizen:application id="MivioTVapp.Mivio"
                     package="MivioTVapp"
                     required_version="5.5"/>
  <content src="index.html"/>
  <feature name="http://tizen.org/feature/screen.size.all"/>
  <icon src="icon.png"/>
  <!-- splash.png (1920x1080) ships in the package for use as the Smart Hub
       preview / launch background configured from Tizen Studio. -->
  <name>Mivio</name>
  <description>Mivio media client for Smart TV</description>
  <access origin="*" subdomains="true"/>
  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
  <tizen:profile name="tv"/>
  <tizen:setting screen-orientation="landscape"
                 context-menu="disable"
                 background-support="disable"
                 encryption="disable"
                 install-location="auto"
                 hwkey-event="enable"/>
</widget>
